//IMPORT BOOTSTRAP SASS FILES
@import "node_modules/bootstrap/scss/bootstrap";

//BOOTSTRAP VARIABLE OVERRIDES
// $theme-colors: ("primary": #ff6247);

//variables
$textColor: #737980;
$mainOrange: #ff6247;

body {
  text-align: center;
  background: linear-gradient(10deg, #f1efef, #5399b9);
}
.container {
  padding: 0;
  margin: 2em auto;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.1);
}
.navbar-dark .navbar-brand {
  font-size: 0.9em;
  color: $mainOrange;
  transition: all 0.5s;
  i {
    font-size: 1.4em;
  }
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: $mainOrange;
}
.jumbotron {
  padding: 1.5em 1em;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #fff;
  //Heading
  .section-heading {
    width: 90%;
    color: $textColor;
    margin: 0 auto 2em auto;
    &__title {
      font-weight: 200;
      display: inline-block;
      padding: 0 0.2em;
      border: 1px solid $mainOrange;
      border-radius: 5px;
      color: $mainOrange;
      margin-bottom: 0.5em;
    }
    &__sub-title {
      font-weight: 300;
      margin-bottom: 1em;
    }
  }
  /*body*/
  .section-body {
    width: 90%;
    margin: 0 auto;
    &__main {
      color: $textColor;
      font-weight: 100;
      line-height: 1.4em;
    }
  }
}
.carousel-caption {
  background: #ff634799;
  padding: 1em;
  border-radius: 5px;
}
.card {
  margin-bottom: 1em;
  color: $textColor;
  .card-title {
    transition: all 0.2s ease-in-out;
    color: #6a7077;
  }
  :hover .card-title {
    color: $mainOrange;
  }
}
.contact-heading {
  background: #fff;
}
.contact-us {
  background: #fff;
  margin: 0;
  &__contact {
    padding: 0;
    line-height: 2em;
    font-size: 1.2em;
    &__para {
      margin-bottom: 0;
    }
  }
  &__map-container {
    padding: 0;
    #map {
      height: 410px;
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
  }
}
.contact-title {
  margin: 0.5em 0;
  font-weight: 200;
  display: inline-block;
  padding: 0 0.3em;
  border: 1px solid $mainOrange;
  border-radius: 5px;
  color: $mainOrange;
}
.footer {
  color: rgba(255, 255, 255, 0.7);
  padding: 1.5em 0.3rem;
  font-size: 0.8em;
  text-align: left;
  &__body {
    &--para {
      margin-bottom: 0;
      a {
        color: $mainOrange;
      }
    }
  }
  &__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    &--link {
      padding: 0 0.5em;
      list-style: none;
      a {
        color: $mainOrange;
        :hover {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}
.work-image {
  margin: 0.2em;
  width: 200px;
  height: 200px;
  transition: all 0.5s;
  border-radius: 2px;
  box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.5);
}
.image-link:hover .work-image {
  transform: scale(1.1);
  box-shadow: 0 0 1px 1px $mainOrange;
}

// MEDIA QUERIES
@media (max-width: 600px) {
  .section-heading {
    &__title {
      font-size: 1.5em;
    }
    &__sub-title {
      font-size: 1em;
    }
  }
  .jumbotron {
    padding: 1.5em 0;
    display: flex;
    flex-wrap: wrap;
  }
  .work-image {
    width: 150px;
    height: 150px;
  }
  h2.contact-title {
    font-size: 1.5em;
  }
  .card-body {
    padding: 1em 0.5em;
    .contact-title {
      font-size: 1em;
    }
    .card-text {
      margin-bottom: 0;
      font-size: 0.9em;
    }
    .list-group .list-group-item {
      font-size: 0.9em;
      padding: 0.5em;
    }
  }
  .contact-us__map-container {
    padding: 1em;
    #map {
      height: 300px;
    }
  }
  .col-md-4 .col-sm-6 {
    display: flex;
  }

  .contact-title {
    margin-bottom: 1em;
  }
}

@include media-breakpoint-up(xs) {
  .col-md-4 .col-sm-6 {
    display: flex;
  }
}
@include media-breakpoint-up(sm) {
  .col-md-4 {
    display: flex;
    justify-content: center;
  }
}
@include media-breakpoint-up(md) {
  .carousel-caption {
    bottom: 80px;
  }
  .col-md-4 {
    display: flex;
  }
}
@include media-breakpoint-up(lg) {
  .carousel-caption {
    font-size: 1.2em;
    bottom: 120px;
  }
  .col-md-4 {
    display: flex;
  }
}
@include media-breakpoint-up(xl) {
  .carousel-caption {
    font-size: 1.2em;
    bottom: 120px;
  }
}
